*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --main-color : #333; 
    --second-color : #ccc;
    --font-size : 32px;
    --margin : 60px;
    --font-weight : bold;
    --pading : 10px;
}

/* header{
    max-width: 100vw;
    min-width: 100vw;
} */

.nav-ul{
    display: flex;
    justify-content: space-around;
    background-color: var(--main-color);
    padding: 13px var(--pading);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    flex-wrap: wrap;
    /* max-width: 100vw; */
}
.nav-ul .childs{
    display: flex;
    justify-content: space-around;
}

.nav-ul li a{
    color: var(--second-color);
    margin: 0 7px;
}


.nav-ul li a:hover{
    background-color: var(--second-color);
    color: var(--main-color);
    padding: var(--pading);
}


.home{
    background-image: url('../img/1.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home h1{
    color: var(--main-color);
    background-color: rgba(255, 245, 255, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.home h1:hover{
    color: var(--second-color);
    background-color: var(--main-color);
}




.about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}


.about div{
    text-align: center;
}

.about div h2{
    font-size: var(--font-size);
    margin-bottom: 10px;
    font-weight: var(--font-weight);
}



.services{
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    background-color: var(--main-color);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: var(--second-color);
}

.services h2{
    margin-bottom: 40px;
    font-weight: bold;
    font-size: var(--font-size);
}

.services-child{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services-child-child{
    margin: 1rem;
}

.specilization{
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
}


.specilization-child{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.specilization h2{
    margin-bottom: 40px;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}



.specilization .specilization-child-child h3{
    margin-top: 10px;
    margin-bottom: 15px;
}



.teachers{
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--main-color);
    color: var(--second-color);
}


.teachers-child{
    display: flex;
    justify-content: space-evenly;
}

.teachers h2{
    margin-bottom: 40px;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}


.teachers .teachers-child h3{
    margin-bottom: 25px;
}

.teachers .teachers-child img{
    border-radius: 5px;
}


.contact{
    margin-top: var(--margin);
    background-color: var(--main-color);
    color: var(--second-color);
    padding-bottom: 30px;
    padding-top: 30px;
}

.contact h2{
    margin-bottom: 40px;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    text-align: center;
    
    
}


.contact .form{
    display: flex;
    justify-content: center;
}

.contact input{
    width: 300px;
    padding: 5px;
}

.form div{
    margin-bottom: 10px;
}

.form div:last-of-type{
    text-align: center;
}

 .btn{
    cursor: pointer;
    padding: 7px 20px;
    margin-top: 10px;
    
}

.btn:hover{
    background-color: var(--main-color);
    color: var(--second-color);
    border-radius: 5px;
}


.contact .contact-child{
    text-align: center;
}

.contact .contact-child p{
    margin-bottom: 10px;
}


.plans{
    margin-top: var(--margin);
}

.plans h2{
    margin-bottom: 40px;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    text-align: center;
}

.plans .parent{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}

.plans .parent .child{
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--second-color);
    padding-top: 5px;
    text-align: center;
    margin: 12px;
}

.plans .parent img{
    padding: 5px;
}

.plans .parent .fot{
    background-color: var(--second-color);
    color: var(--main-color);
    padding: var(--pading);
    margin: 10px;
}


footer{
    background-color: var(--second-color);
    color: var(--main-color);
    padding-top: 8px;
    padding-bottom: 8px;
}

footer ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
}


footer ul li a{
    color: var(--main-color);
}

footer ul li a:hover{
    color: var(--second-color);
    background-color: var(--main-color);
    padding: 8px;
}




hr{
    display: none;
    color: var(--second-color);
    width: 100%;
}












@media(min-width : 1200px){
    .container{
        width: 1080px;
        margin: 0 auto;
    }
}






@media(max-width: 480px ){

    .nav-ul{
        overflow-x: hidden;
    }
    .about div p{
        margin: 0 10px;
    }
    .services-child{
        justify-content: center;
    }
    .nav-ul .childs:first-of-type{
        margin-bottom: 8px;
    }
    .specilization-child{
        justify-content: center;
        max-width: 100%;
        
    }
    .specilization-child .specilization-child-child{
        margin: 10px auto;
    }
    .teachers-child{
        flex-wrap: wrap;
        min-width: 100%;
        max-width: 100%;
    }
    .teachers-child .teachers-child-child{
        margin: 25px auto;
    }
    .teachers .teachers-child h3{
        margin-bottom: 15px;
    }
    hr{
        display: block;
    }
    .plans .parent{
        
    }
    
}
